<button
  class="btn btn-primary d-flex align-items-center gap-2 mb-3"
  (click)="abrirModal(modal)"
>
  <i class="bi bi-plus"></i>
  Adicionar Empresa
</button>

<div class="modal fade" tabindex="-1" #modal>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Adicionar Empresa</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="salvar()">
          <div class="mb-3">
            <label for="cnpj" class="form-label">CNPJ</label>
            <input
              type="text"
              class="form-control"
              id="cnpj"
              name="cnpj"
              [(ngModel)]="cnpj"
              (ngModelChange)="onCnpjChange()"
              mask="00.000.000/0000-00"
            />
            <div *ngIf="cnpjInvalido" class="text-danger mt-1">
              CNPJ inválido
            </div>
          </div>
          <div class="mb-3">
            <label for="nomeFantasia" class="form-label">Nome Fantasia</label>
            <input
              type="text"
              class="form-control"
              id="nomeFantasia"
              [(ngModel)]="nomeFantasia"
              name="nomeFantasia"
            />
          </div>
          <div class="mb-3">
            <label for="cep" class="form-label">CEP</label>
            <input
              type="text"
              class="form-control"
              id="cep"
              [(ngModel)]="cep"
              name="cep"
            />
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
